

body {
  background-image: linear-gradient(to right, #ab274f, #de3163, #ab274f);
}

/* Body layout */

main > div {
  min-height: 350px;
  width: 80%;
  background-color: white;
  border-radius: 7%;
}

.project-item {
  list-style: none;
}