body {
  background-image: linear-gradient(to right, #ab274f, #de3163, #ab274f);
}

/* Body layout */

main > div {
  width: 80%;
  border-radius: 7%;
}

.project-item,
.todo-item {
  list-style: none;
}
