@import url("https://fonts.googleapis.com/css2?family=Mate+SC&family=Stint+Ultra+Condensed&display=swap");

body {
  background-image: linear-gradient(to right, #ab274f, #de3163, #ab274f);
  color: #d7adb9 !important;
  font-family: "Mate SC", serif;
}

/* Body layout */

main > div {
  width: 80%;
  border-radius: 7%;
}

.project-item,
.todo-item {
  list-style: none;
  border-radius: 50%;
}

.project-item > button,
.todo-item > button {
  border-radius: 50%;
}

.btn {
  background: #c2b280 !important;
}

.text-decoration-line-through {
  color: #d7adb9 !important;
}

.form-width {
  width: 60%;
  margin: 0 auto;
}

input {
  background: #c2b280 !important;
  opacity: 0.8;
  color: white !important;
  font-weight: bolder;
}
